<footer class="page__footer">
    <a href="#back-to-header">
        <div class="footer__arrow"></div>
    </a>
    <div class="footer__wrapper">
        <div class="products__wrapper">
            <ul class="product__footer-list list">
                <li><a href="">Articles</a></li>
                <li><a href="">Books</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">Reasons</a></li>
                <li><a href="">Tips</a></li>
            </ul>
        </div>
        <div class="social__media">
            <ul class="social__media_list list">
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Mastodon.social</a></li>
            </ul>
        </div>
        <div class="copyright-wrapper">
            <small class="copyright">@2019</small>
            <p class="copyright-message">we<span class="heart"> ❤ </span>components</p>
        </div>
    </div>
</footer>