<main class="page__main" id="main">
    <section class="main__wrapper">
        <h3 class="main__subtitle">Insomnia tips</h3>
        <h2 class="main__title">Looking through a window</h2>
        <p class="main__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto ex quae nesciunt
            fugit culpa? Doloremque, ut? Odit corrupti maxime facilis, numquam cum omnis perspiciatis dolorem quis,
            dolores quasi vel laboriosam!</p>
        <button class="go-btn"><a class="btn-link" href="">Go</a></button>
    </section>
</main>