<section class="main__product">
    <h2 class="product__title">3 Reasons to purchase</h2>
    <div class="product__wrapper">
        <ul class="product__list">
            <li class="reason1 reason">
                <h3 class="reason-title">Lorem ipsum </h3>
                <p class="reason-text"> Lorem ipsum, dolor sit amet</p>
            </li>
            <li class="reason2 reason">
                <h3 class="reason-title">Dolor sit</h3>
                <p class="reason-text">Incidunt illum dolores assumenda</p>
            </li>
            <li class="reason3 reason">
                <h3 class="reason-title">Amet consectetur</h3>
                <p class="reason-text">Alias quasi autem doloribus, ducimus</p>
            </li>
        </ul>
    </div>
    <div class="btn__reasons-wrapper">
        <button class="btn-reasons"><a href="/"></a>More reasons</a></button>
    </div>
</section>