html {
  scroll-behavior: smooth;
}

html body {
  margin: 0;
}

html body a {
  text-decoration: none;
  cursor: pointer;
}

html body ul {
  padding: 0;
}

html body li {
  list-style: none;
}

.header__wrapper {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.hamburger-btn {
  width: 44px;
  height: 44px;
  background-size: 50%;
  background-color: #0271bc;
  position: fixed;
  background-image: url(../images/ico-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hamburger-btn:hover {
  background-size: 55%;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

.header__hero {
  font-family: Roboto Slab, sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
}

.hero__subtitle {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: normal;
  margin: 10px 0;
}

.header-arrow {
  width: 45px;
  height: 45px;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  -webkit-animation-name: float;
  animation-name: float;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.header-arrow:hover {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) scale(1.1);
  transform: translate(-50%, 50%) scale(1.1);
  -webkit-animation-iteration-count: 0;
  animation-iteration-count: 0;
}

.page__main {
  background: white;
  margin-bottom: 45px;
  overflow: hidden;
}

.main__wrapper {
  margin: 30px 15px 0;
}

.main__subtitle {
  color: #8ccbea;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 2.74;
  font-weight: lighter;
  letter-spacing: 0.3;
  text-transform: capitalize;
  margin-bottom: 1px;
}

.main__title {
  width: 250px;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  text-transform: capitalize;
  line-height: 1.25;
  text-align: left;
  margin-top: 0;
}

.main__description {
  font-family: Roboto, sans-serif;
  color: #4a4a4a;
  text-align: 30px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.3;
}

.go-btn {
  width: 76px;
  height: 45px;
  border: solid 2px #f26002;
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
  color: #f26002;
  margin: 30px 0 45px;
  font-weight: normal;
}

.btn-link {
  color: #f26002;
}

.go-btn:hover {
  background-color: #f26002;
}

.go-btn:hover .btn-link {
  color: white;
}

.main__product {
  background-color: #eff9ff;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1);
  grid-template-rows: 10vh 1fr 15vh;
  overflow: hidden;
}

.product__title {
  font-family: Roboto Slab, serif;
  text-transform: capitalize;
}

.reason-title {
  font-family: Roboto Slab, serif;
  line-height: 1.25;
}

.reason-text {
  width: 180px;
  margin: auto;
  font-family: Roboto, sans-serif;
  line-height: 1.67;
  font-size: 18px;
}

.btn-reasons {
  margin: 10px;
  width: 184px;
  height: 45px;
  background-color: #f26002;
  text-decoration: none;
  font-family: roboto, sans-serif;
  color: white;
  font-size: 20px;
  border-radius: 22.5px;
  border: none;
  cursor: pointer;
}

.btn-reasons:hover {
  opacity: 0.8;
  border: 2px solid #cf4f00;
}

.page__footer {
  width: 100vw;
  background-color: #304268;
  color: white;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.footer__wrapper {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.copyright-wrapper {
  margin: 5px;
}

.copyright-message {
  text-transform: lowercase;
  font-size: 14px;
}

li a {
  color: white;
}

.heart {
  color: #f26002;
}

.footer__arrow {
  width: 45px;
  height: 45px;
  background-image: url(../images/ico-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  -webkit-animation-name: circles;
  animation-name: circles;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.footer__arrow:hover {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  -webkit-animation-iteration-count: 0;
  animation-iteration-count: 0;
}

.pricing-wrapper {
  background-color: #304268;
  color: white;
}

.pricing-subtitle2 {
  margin-bottom: 0;
}

@media all and (min-width: 768px) {
  .text-wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    color: white;
    text-align: center;
  }

  .header__hero {
    font-size: 80px;
  }

  .hero__subtitle {
    font-size: 24px;
  }

  .page__main {
    height: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main__wrapper {
    margin: 60px 39px 0;
  }

  .main__title {
    width: 690px;
    font-size: 26px;
    line-height: 1.73;
    margin-top: 0;
  }

  .main__description {
    text-align: 30px;
    font-size: 20px;
    line-height: 1.5;
  }

  .go-btn {
    width: 91px;
  }

  .product__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .btn-reasons {
    width: 210px;
    height: 45px;
  }

  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: left;
  }

  .social__media {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .footer__arrow {
    position: absolute;
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }

  .footer__arrow:hover {
    position: absolute;
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%) scale(1.1);
    transform: translate(-50%, 50%) scale(1.1);
    -webkit-animation-iteration-count: 0;
    animation-iteration-count: 0;
  }

  .pricing-title {
    text-align: center;
  }

  .subtitle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 30px 0 30px;
  }
}

@media all and (min-width: 1280px) {
  .text-wrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    color: white;
    text-align: center;
  }

  .header__hero {
    font-size: 100px;
    line-height: 132px;
  }

  .main__wrapper {
    width: 730px;
  }

  .go-btn {
    width: 160px;
    font-size: 25px;
    color: #f26002;
  }

  .footer__wrapper {
    width: 100vh;
    padding: 50px 200px 50px 300px;
  }
}

@-webkit-keyframes float {
  0% {
    position: absolute;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }

  100% {
    position: absolute;
    top: 105%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
}

@keyframes float {
  0% {
    position: absolute;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }

  100% {
    position: absolute;
    top: 105%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
}

@-webkit-keyframes circles {
  0% {
    position: absolute;
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%) rotate(360deg);
    transform: translate(-50%, 50%) rotate(360deg);
  }

  100% {
    position: absolute;
    top: -14%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
}

@keyframes circles {
  0% {
    position: absolute;
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%) rotate(360deg);
    transform: translate(-50%, 50%) rotate(360deg);
  }

  100% {
    position: absolute;
    top: -14%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
}

/*# sourceMappingURL=main.css.map */
