.page__footer {
  width: 100vw;
  background-color: #304268;
  color: white;
  font-family: roboto, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.footer__wrapper {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.copyright-wrapper {
  margin: 5px;
}
.copyright-message {
  text-transform: lowercase;
  font-size: 14px;
}
li a {
  color: white;
}

.heart {
  color: #f26002;
}
.footer__arrow {
  width: 45px;
  height: 45px;
  background-image: url(../images/ico-scroll-down.svg);
  transform:  rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  animation-name: balleffect;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}
@keyframes balleffect {
  0% {
    position: relative;
    top: -15px;
  }
  50% {
    position: relative;
    top: -5px;
  }
  100% {
    position: relative;
    top: -15px;
  }

}
.footer__arrow:hover {
 
  animation-iteration-count: 0;
}

@media all and (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: left;
  }
  .social__media {
    order: -1;
  }
  .footer__arrow:hover {
     
    transform: rotate(180deg) scale(1.1);
    animation-iteration-count: 0;
  }
}

@media all and (min-width: 1280px) {
  .footer__wrapper {
    width: 100vh;
    padding: 50px 200px 50px 300px;
  }
}
.arrow-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  top: -15px;
 
}